WarrierCardsOnlineStore-Source/Website/Service References/CatalogueService/CatalogueService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects.Common" />
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardColors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects.Common" minOccurs="0" name="CardType" type="q2:CardTypes" />
      <xs:element minOccurs="0" name="HighPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemsReturnedPerRequest" type="xs:int" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastItemIndex" type="xs:int" />
      <xs:element minOccurs="0" name="LowPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCriteria" nillable="true" type="tns:SearchCriteria" />
  <xs:complexType name="ArrayOfCardBasicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardBasicInfo" nillable="true" type="tns:CardBasicInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardBasicInfo" nillable="true" type="tns:ArrayOfCardBasicInfo" />
  <xs:complexType name="CardBasicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="CardMainImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardModelNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardOrginalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardSellingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsPortrait" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardBasicInfo" nillable="true" type="tns:CardBasicInfo" />
  <xs:complexType name="CardDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CardBasicInfo">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardImages" nillable="true" type="q3:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardDetails" nillable="true" type="tns:CardDetails" />
  <xs:complexType name="CardQuickViewData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CardBasicInfo">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardImages" nillable="true" type="q4:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardQuickViewData" nillable="true" type="tns:CardQuickViewData" />
  <xs:complexType name="EnquiryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserInfo" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnquiryData" nillable="true" type="tns:EnquiryData" />
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
</xs:schema>