WarrierCardsOnlineStore-Source/Website/Service References/CatalogueService/CatalogueService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects.Common" />
  <xs:complexType name="SearchCriteria">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardColors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects.Common" minOccurs="0" name="CardType" type="q2:CardTypes" />
      <xs:element minOccurs="0" name="HighPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="ItemsReturnedPerRequest" type="xs:int" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastItemIndex" type="xs:int" />
      <xs:element minOccurs="0" name="LowPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchCriteria" nillable="true" type="tns:SearchCriteria" />
  <xs:complexType name="ArrayOfCardBasicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CardBasicInfo" nillable="true" type="tns:CardBasicInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCardBasicInfo" nillable="true" type="tns:ArrayOfCardBasicInfo" />
  <xs:complexType name="CardBasicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="CardMainImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardModelNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardOrginalPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardSellingPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="CardWeight" type="xs:double" />
      <xs:element minOccurs="0" name="IsPortrait" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardBasicInfo" nillable="true" type="tns:CardBasicInfo" />
  <xs:complexType name="CardDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CardBasicInfo">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardImages" nillable="true" type="q3:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardDetails" nillable="true" type="tns:CardDetails" />
  <xs:complexType name="CardQuickViewData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CardBasicInfo">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CardImages" nillable="true" type="q4:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CardQuickViewData" nillable="true" type="tns:CardQuickViewData" />
  <xs:complexType name="ArrayOfSelectedCard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedCard" nillable="true" type="tns:SelectedCard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectedCard" nillable="true" type="tns:ArrayOfSelectedCard" />
  <xs:complexType name="SelectedCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedCard" nillable="true" type="tns:SelectedCard" />
  <xs:complexType name="ArrayOfSelectedCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SelectedCardInfo" nillable="true" type="tns:SelectedCardInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSelectedCardInfo" nillable="true" type="tns:ArrayOfSelectedCardInfo" />
  <xs:complexType name="SelectedCardInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Card" nillable="true" type="tns:CardBasicInfo" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SelectedCardInfo" nillable="true" type="tns:SelectedCardInfo" />
  <xs:complexType name="EnquiryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardId" type="xs:int" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fullname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnquiryData" nillable="true" type="tns:EnquiryData" />
  <xs:complexType name="ArrayOfShippingAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShippingAddress" nillable="true" type="tns:ShippingAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShippingAddress" nillable="true" type="tns:ArrayOfShippingAddress" />
  <xs:complexType name="ShippingAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressId" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Landmark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShippingAddress" nillable="true" type="tns:ShippingAddress" />
  <xs:complexType name="OrderSummaryParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="SelectedCards" nillable="true" type="tns:ArrayOfSelectedCard" />
      <xs:element minOccurs="0" name="ShippingAddressId" type="xs:int" />
      <xs:element minOccurs="0" name="couponCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSummaryParams" nillable="true" type="tns:OrderSummaryParams" />
  <xs:complexType name="OrderSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="CouponCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CouponDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CouponError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShippingCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="ShippingWeight" type="xs:double" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalSavings" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSummary" nillable="true" type="tns:OrderSummary" />
</xs:schema>