WarrierCardsOnlineStore-Source/Website/Service References/CatalogueService/CatalogueService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogueService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" />
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICatalogueService_GetCardsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsList" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsListResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardDetailsById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardDetailsById" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardDetailsById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardQuickViewData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardQuickViewData" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardQuickViewData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardQuickViewDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardsInfoByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsInfoByIds" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_GetCardsInfoByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardsInfoByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_SendEnquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEnquiry" />
  </wsdl:message>
  <wsdl:message name="ICatalogueService_SendEnquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEnquiryResponse" />
  </wsdl:message>
  <wsdl:portType name="ICatalogueService">
    <wsdl:operation name="GetCardsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogueService/GetCardsList" message="tns:ICatalogueService_GetCardsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogueService/GetCardsListResponse" message="tns:ICatalogueService_GetCardsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardDetailsById">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogueService/GetCardDetailsById" message="tns:ICatalogueService_GetCardDetailsById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogueService/GetCardDetailsByIdResponse" message="tns:ICatalogueService_GetCardDetailsById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardQuickViewData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogueService/GetCardQuickViewData" message="tns:ICatalogueService_GetCardQuickViewData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogueService/GetCardQuickViewDataResponse" message="tns:ICatalogueService_GetCardQuickViewData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCardsInfoByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogueService/GetCardsInfoByIds" message="tns:ICatalogueService_GetCardsInfoByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogueService/GetCardsInfoByIdsResponse" message="tns:ICatalogueService_GetCardsInfoByIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEnquiry">
      <wsdl:input wsaw:Action="http://tempuri.org/ICatalogueService/SendEnquiry" message="tns:ICatalogueService_SendEnquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICatalogueService/SendEnquiryResponse" message="tns:ICatalogueService_SendEnquiry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICatalogueService" type="tns:ICatalogueService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCardsList">
      <soap:operation soapAction="http://tempuri.org/ICatalogueService/GetCardsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardDetailsById">
      <soap:operation soapAction="http://tempuri.org/ICatalogueService/GetCardDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardQuickViewData">
      <soap:operation soapAction="http://tempuri.org/ICatalogueService/GetCardQuickViewData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCardsInfoByIds">
      <soap:operation soapAction="http://tempuri.org/ICatalogueService/GetCardsInfoByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEnquiry">
      <soap:operation soapAction="http://tempuri.org/ICatalogueService/SendEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogueService">
    <wsdl:port name="BasicHttpBinding_ICatalogueService" binding="tns:BasicHttpBinding_ICatalogueService">
      <soap:address location="http://egenious:81/ServiceConfigs/CatalogueService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>