WarrierCardsOnlineStore-Source/Website/Service References/CatalogueService/CatalogueService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" />
  <xs:element name="GetCardsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="searchCriteria" nillable="true" type="q1:SearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetCardsListResult" nillable="true" type="q2:ArrayOfCardItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetailsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetailsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetCardDetailsByIdResult" nillable="true" type="q3:CardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>