WarrierCardsOnlineStore-Source/Website/Service References/CatalogueService/CatalogueService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://egenious:81/ServiceConfigs/CatalogueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" />
  <xs:element name="GetCardsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="searchCriteria" nillable="true" type="q1:SearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetCardsListResult" nillable="true" type="q2:ArrayOfCardBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetailsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardDetailsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetCardDetailsByIdResult" nillable="true" type="q3:CardDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardQuickViewData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardQuickViewDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetCardQuickViewDataResult" nillable="true" type="q4:CardQuickViewData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsInfoByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="selectedCards" nillable="true" type="q5:ArrayOfSelectedCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardsInfoByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetCardsInfoByIdsResult" nillable="true" type="q6:ArrayOfSelectedCardInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEnquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="enquiry" nillable="true" type="q7:EnquiryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEnquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEnquiryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingAddressesByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingAddressesByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetShippingAddressesByUserIdResult" nillable="true" type="q8:ArrayOfShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShippingAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="address" nillable="true" type="q9:ShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveShippingAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveShippingAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingAddressById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="shippingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingAddressByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetShippingAddressByIdResult" nillable="true" type="q10:ShippingAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="args" nillable="true" type="q11:OrderSummaryParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects" minOccurs="0" name="GetOrderSummaryResult" nillable="true" type="q12:OrderSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>