WarrierCardsOnlineStore-Source/Website/Service References/SecurityService/SecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SecurityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/SecurityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/SecurityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://egenious:81/ServiceConfigs/SecurityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WarrierCards.Service.DataObjects.Account" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISecurityService_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetShippingAddressesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShippingAddressesByUserId" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_GetShippingAddressesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShippingAddressesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SaveShippingAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveShippingAddress" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SaveShippingAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveShippingAddressResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SendPasswordResetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordResetEmail" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_SendPasswordResetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordResetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ValidateChangePasswordToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateChangePasswordToken" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ValidateChangePasswordToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateChangePasswordTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ISecurityService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="ISecurityService">
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/CheckLogin" message="tns:ISecurityService_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/CheckLoginResponse" message="tns:ISecurityService_CheckLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/Register" message="tns:ISecurityService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/RegisterResponse" message="tns:ISecurityService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShippingAddressesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/GetShippingAddressesByUserId" message="tns:ISecurityService_GetShippingAddressesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/GetShippingAddressesByUserIdResponse" message="tns:ISecurityService_GetShippingAddressesByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveShippingAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/SaveShippingAddress" message="tns:ISecurityService_SaveShippingAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/SaveShippingAddressResponse" message="tns:ISecurityService_SaveShippingAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPasswordResetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/SendPasswordResetEmail" message="tns:ISecurityService_SendPasswordResetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/SendPasswordResetEmailResponse" message="tns:ISecurityService_SendPasswordResetEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateChangePasswordToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ValidateChangePasswordToken" message="tns:ISecurityService_ValidateChangePasswordToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ValidateChangePasswordTokenResponse" message="tns:ISecurityService_ValidateChangePasswordToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ISecurityService/ChangePassword" message="tns:ISecurityService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISecurityService/ChangePasswordResponse" message="tns:ISecurityService_ChangePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISecurityService" type="tns:ISecurityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShippingAddressesByUserId">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/GetShippingAddressesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveShippingAddress">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/SaveShippingAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPasswordResetEmail">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/SendPasswordResetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateChangePasswordToken">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ValidateChangePasswordToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ISecurityService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityService">
    <wsdl:port name="BasicHttpBinding_ISecurityService" binding="tns:BasicHttpBinding_ISecurityService">
      <soap:address location="http://egenious:81/ServiceConfigs/SecurityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>